* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

#forceTouchCapability {
	height: 50vh;
	width: 50vh;
	font-size: 24px;
	text-align: center;
	color: red;
	background-color: black;
}