Welcome to ScaleIt
<div id="forceTouchCapability">
	Touch here
</div>
<div id="tapCount">
</div>
<div id="timestamp">
</div>
<div id="phase">
</div>
<div id="force">
</div>
<div id="maximumPossibleForce">
</div>
<div id="touchType">
</div>