<div class="container">
	<img src="img/scale.png">
  <div class="row">
  	<div id="forceTouchCapability">
  	</div>
  		<div>
    	<span class="btn">
    		SCALE<span class="big">UP</span>
    		<div class="text-muted">
    		(you may have to use a spoon or something as your tray)
    		</div>
    	</span>
  	</div>
	</div>
	<div id="tapCount">
	</div>
	<div id="timestamp">
	</div>
	<div id="phase">
	</div>
	<div id="maximumPossibleForce">
	</div>
	<div id="touchType">
	</div>
	<div id="force-container">
		<div id="force"></div>
	</div>
	<div id="reset-container" {{action 'reset'}}>
		RESET
	</div>
</div>